body{
    background-color: lightgray;
}
main{
    /* border-radius: 30%;
    max-width: 500px;
    margin: 0 auto; */
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    overflow: hidden;
    max-width: 450px;
    background-color: white;
}
.sfondo{
    background-image: linear-gradient(rgba(251, 171, 11, 0.243),rgba(221, 255, 0, 0.334)),
    url("img/quokka-header.jpg");
    /* padding: 100px 180px; */
    height: 250px;
    background-position:right center;
    background-size: 170%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 0;

}
.card{
   background-color: white; 
   max-width: 500px;
   margin: 0px auto;
   height: 700px;
   padding: 0 70px;
   text-align: justify; 
}
img{
    width: 100%;
}
.quokka{
    width: 100%;
    max-width:150px;
    border-radius: 50%;
    border: 5px solid red;
    position:relative;
    
    display:block;
    margin: 0 auto;
    bottom: 100px;
   
}
span{
    background-color: red;
    color: white;
    padding: 10px 20px;
    /* display: inline-block; */
    position: absolute;
    top: 0;
    right: 0;
    font: 25px;
}

button{
    display: block;
    margin: auto;
    /* width: 100px; */
    border: 2px solid blue;
    background-color: rgb(235, 217, 217);
    height: 20px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;

}
button:hover{
    background-color: lightcoral;
    border: 2px solid red;
}
footer{
    background-color: fuchsia;
    margin-bottom: 0 auto;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    color: white;
}
